[Desktop Entry]
Encoding=UTF-8
Name=spiffcoin Core
Comment=Connect to the spiffcoin P2P Network
Comment[de]=Verbinde mit dem spiffcoin peer-to-peer Netzwerk
Comment[fr]=spiffcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=spiffcoin, eşten eşe kriptografik sanal para birimi
Exec=spiffcoin-qt %u
Terminal=false
Type=Application
Icon=spiffcoin128
MimeType=x-scheme-handler/spiffcoin;
Categories=Office;Finance;
